<nav class="navbar navbar-expand-lg navbar-dark bg-info"> <!--configuração do texto-->
    <a class="navbar-brand" href="/">
        BlogArtigosWeb
    </a>
<!--Uso de classes, regra do bootstrap-->
    <ul class="navbar-nav mr-auto"> <!--Navbar-nav torna a lista em Menu; mr-auto alinhamento (adiciona margem total a direita) -->

        <li class="nav-item"> <!--Classe = dizer que esse item fará parte de um menu de uma navbar-->
            <a class="nav-link" href="/">Home</a> <!--apontar para a rota desejada-->
        </li>

        <% categories .forEach(category => { %>
            <li class="nav-item"> <!--Classe = dizer que esse item fará parte de um menu de uma navbar-->
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a> <!--apontar para a rota desejada-->
            </li>
       <% }) %> 
    </ul>
</nav> 